.imageCard{
    width: 150px;
    height: 150px;
    border-style: ridge;
    float: center;
    /* display: 'inline-block', */
}

.card{
    width: 150px;
    height: 150px;
    border-style: ridge;
    float: center;

}
