.imageCard{
    width: 200px;
    height: 200px;
    border-style: ridge;
    float: center;
    display: 'inline-block',
}

.card{
    width: 200px;
    height: 200px;
    border-style: ridge;
    float: center;
     display: 'inline-block',

}
